.error-alert {
	border: 1px solid #ff0000; /* Red border */
}

.error-alert svg {
	fill: none;
	stroke: #ff0000; /* Red color for icon */
}

.error-alert span {
	color: #ff0000; /* Red color for text */
}
