@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
	padding: 0;
	margin: 0;
	background-color: transparent;
	outline: none;
	border: none;
	font-size: 1em;
	text-decoration: none;
	list-style: none;
}

html {
	font-size: 20px;
}

main {
	height: 100%;
	transition: all 0.3s ease-in-out;
}
.content-wrapper {
	overflow-x: hidden;
	width: 100%; /* Ensure the content wrapper takes up full width */
}

