.board::-webkit-scrollbar {
	width: 5px; /* Ширина полосы прокрутки */
	height: 15px;
}
.board::-webkit-scrollbar-thumb {
	background-color: #888; /* Цвет ползунка */
	border-radius: 20px; /* Скругление углов ползунка */
}

.board::-webkit-scrollbar-track {
	background-color: #eee; /* Цвет фона полосы прокрутки */
}
